*/*.mod
*/*.o
.cache
*/.cache
*/modules.order
*/compile_commands.json  
*/*.json  
*/timer_writer.mod  
*/timer_writer.o      
*/Module.symvers
*/.timer*
*/*.ko
*.ko
*.mod
*.mod.c
*.mod.o
*.o
*.cmd
Module.symvers
modules.order
.tmp_versions/
*/**/*.exe
*/**/*.app
*/**/setup_app
*.o
*.bak
